@use "../base/variables" as v;
@use "../base/mixins" as mx;

.formulario {
    width: auto;
    height: auto;
    @include mx.grid(1, 0rem);
    position: relative;
    z-index: 20;
    position: relative;
    overflow: visible;
    background: rgba(119, 119, 119, 0.185);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(184, 208, 2, 0.15);
    backdrop-filter: blur(140px);
    -webkit-backdrop-filter: blur(60px);
    border: 1px solid rgba(255, 255, 255, 0.089);
    position: relative;
    z-index: 1;
    padding: 3rem 0;
    height: auto;
    border-radius: 1rem;
    margin-top: 5rem;

    @include mx.tablet-pequena {
        @include mx.grid(2, 2rem);
        margin: 5rem;
    }

    &__formas {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        color: v.$blanco;
        border-radius: 1rem 1rem 0 0;
        margin: 0 auto;
        width: 100%;
        padding: 0 0 5rem 0;

        @include mx.tablet-pequena {
            border-radius: 1rem 0 0 1rem;
        }
    }

    h3 {
        font-weight: v.$black;
    }

    &__correo {
        position: relative;
        overflow: visible;
        background: rgba(22, 22, 22, 0.14);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.822);
        backdrop-filter: blur(140px);
        -webkit-backdrop-filter: blur(60px);
        border: 1px solid rgba(248, 248, 248, 0.089);
        position: relative;
        z-index: 1;
        padding: 3rem 0;
        height: auto;
        color: v.$blanco;

        @include mx.tablet-pequena {
            margin: 0 4rem 0 0;
        }

        h3 {
            color: v.$color_primario;
        }

        .correo--item {
            display: flex;
            justify-content: space-between;
            flex-direction: column;

            @include mx.telefono-grande {
                flex-direction: row;
            }
        }

        .form__grupo {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
            width: 100%;

            @include mx.telefono-grande {
                width: 48%;
            }

            input {
                height: 3rem;
                border: none;
                border-radius: 0.5rem;
                padding: 2rem;
            }
        }

        .textarea {
            display: flex;
            flex-direction: column;

            textarea {
                border: none;
                width: 100%;
                height: 10rem;
                padding: 2rem;
                border-radius: 0.5rem;
            }
        }
    }
}

.ubicacion {
    position: relative;

    &__contenido {
        position: relative;

        @include mx.tablet_grande {
            @include mx.grid(2, 0rem);
            margin: 4rem;
        }

        align-items: center;
        border-radius: 3rem;
        background: rgba(119, 119, 119, 0.185);
        box-shadow: 0 4px 20px rgba(184, 208, 2, 0.15);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border: 1px solid rgba(255, 255, 255, 0.089);
        z-index: 200;

        &--mapa {
            grid-column: 2/3;
            grid-row: 1/3;

            iframe {
                display: flex;
                margin: 0 auto;
                border-radius: 2rem;
            }
        }

        &--descripcion {
            grid-column: 1/2;
            grid-row: 2/3;
            max-width: 80%;
            margin: 2.5rem auto 5rem auto;
            color: v.$blanco;

            p {

                &:last-child {
                    margin-bottom: 0rem;
                }

                span {
                    font-weight: v.$bold;
                    letter-spacing: .4rem
                }
            }
        }
    }
}

.cards3D {
    margin: 5rem 0;
    @include mx.grid(1, 2.5rem);

    @include mx.telefono-mediano {
        @include mx.grid(2, 2.5rem);

        .card3 {
            grid-column: 1/3;
        }
    }

    @include mx.tablet-pequena {
        @include mx.grid(4, 2.5rem);

        .card1 {
            grid-column: 1/5;
        }

        .card2 {
            grid-column: 1/3;
        }

        .card3 {
            grid-column: 3/5;
        }
    }

    @include mx.tablet-grande {
        @include mx.grid(3, 2.5rem);

        .card1,
        .card2,
        .card3 {
            grid-column: auto;
        }
    }

    .cards__card {
        height: 100%;
        border-radius: 3rem;
        background: linear-gradient(135deg, rgb(165, 233, 6) 0%, rgb(8, 226, 96) 100%);
        transition: all 0.5s ease-in-out;
        transform-style: preserve-3d;
        box-shadow: rgba(5, 71, 17, 0) 40px 50px 25px -40px, rgba(5, 71, 17, 0.2) 0px 25px 25px -5px;
    }

    .glass {
        transform-style: preserve-3d;
        position: absolute;
        inset: 8px;
        border-radius: 55px;
        border-top-right-radius: 100%;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.349) 0%, rgba(255, 255, 255, 0.815) 100%);
        transform: translate3d(0px, 0px, 25px);
        border-left: 1px solid white;
        border-bottom: 1px solid white;
        transition: all 0.5s ease-in-out;
    }

    .content {
        @include mx.tablet-pequena {
            height: 20rem;
        }

        @include mx.tablet-grande {
            height: 30rem;
        }

        display: flex;
        flex-direction: column;
        padding: 4rem;
        justify-content: end;
        transform: translate3d(0, 0, 26px);
    }

    .content .title {
        display: block;
        color: #00894d;
        font-weight: 900;
        font-size: clamp(1.5rem, 1.7vw, 1.9rem);
        overflow: hidden;
    }

    .content .text {
        display: block;
        color: rgba(0, 137, 78, 0.7647058824);
        font-size: 15px;
        margin-top: 20px;
    }

    .bottom {
        padding: 10px 12px;
        transform-style: preserve-3d;
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transform: translate3d(0, 0, 26px);
    }

    .bottom .view-more {
        display: flex;
        align-items: center;
        width: 40%;
        justify-content: flex-end;
        transition: all 0.2s ease-in-out;
    }

    .bottom .view-more:hover {
        transform: translate3d(0, 0, 10px);
    }

    .bottom .view-more .view-more-button {
        background: none;
        border: none;
        color: #b7d002;
        font-weight: bolder;
        font-size: 12px;
    }

    .bottom .view-more .svg {
        fill: none;
        stroke: #b7d002;
        stroke-width: 3px;
        max-height: 15px;
    }

    .bottom .social-buttons-container {
        display: flex;
        gap: 10px;
        transform-style: preserve-3d;
    }

    .bottom .social-buttons-container .social-button {
        width: 30px;
        aspect-ratio: 1;
        padding: 5px;
        background: rgb(255, 255, 255);
        border-radius: 50%;
        border: none;
        display: grid;
        place-content: center;
        box-shadow: rgba(5, 71, 17, 0.5) 0px 7px 5px -5px;
    }

    .logo {
        position: absolute;
        right: 0;
        top: 0;
        transform-style: preserve-3d;
    }

    .logo .circle {
        display: block;
        position: absolute;
        aspect-ratio: 1;
        border-radius: 50%;
        top: 0;
        right: 0;
        box-shadow: rgba(100, 100, 111, 0.2) -10px 10px 20px 0px;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        background: rgba(183, 208, 2, 0.2);
        transition: all 0.5s ease-in-out;
    }

    .logo .circle3 {
        width: 7rem;
        transform: translate3d(0, 0, 60px);
        top: 17px;
        right: 17px;
        transition-delay: 0.8s;
    }

    .logo .circle4 {
        width: 5rem;
        transform: translate3d(0, 0, 80px);
        top: 23px;
        right: 23px;
        transition-delay: 1.2s;
    }

    .logo .circle5 {
        width: 3rem;
        transform: translate3d(0, 0, 100px);
        top: 30px;
        right: 30px;
        display: grid;
        place-content: center;
        transition-delay: 1.6s;
    }

    .logo .circle5 .svg {
        width: 50px;
        fill: white;
    }

    .parent:hover .cards__card {
        transform: rotate3d(1, 1, 0, 30deg);
        box-shadow: rgba(5, 71, 17, 0.3) 30px 50px 25px -40px, rgba(5, 71, 17, 0.1) 0px 25px 30px 0px;
    }

    .parent:hover .cards__card .bottom .social-buttons-container .social-button {
        transform: translate3d(0, 0, 50px);
        box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0px;
    }

    .parent:hover .cards__card .logo .circle2 {
        transform: translate3d(0, 0, 60px);
    }

    .parent:hover .cards__card .logo .circle3 {
        transform: translate3d(0, 0, 80px);
    }

    .parent:hover .cards__card .logo .circle4 {
        transform: translate3d(0, 0, 100px);
    }

    .parent:hover .cards__card .logo .circle5 {
        transform: translate3d(0, 0, 120px);
    }
}