@use '../base/variables' as v;
@use '../base/mixins' as mx;

header {
    background-image: url(../../../public/images/header.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: end;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    &__info {
        display: flex;
        flex-direction: column;
        position: relative;
        color: v.$blanco;
        max-width: 100%;
        z-index: 2;

        @include mx.telefono-grande {
            max-width: 60%;
        }

        h1,
        h2 {
            text-align: left;
        }

        &--btn {
            display: flex;
            flex-direction: column;
            
            
            @include mx.telefono-mediano {
                flex-direction: row;
                gap: 2.5rem;
            }
        }
    }

}