@use "variables" as v;

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  font-family: v.$fuente_principal;
  background-color: v.$negro;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  margin: 0 auto;
  width: min(90%, 135rem);
  overflow: hidden;
}

a {
  text-decoration: none;
  font-weight: v.$bold;
  cursor: pointer;
  white-space: nowrap;
  color: v.$blanco;
  
}

img {
  max-width: 100%;
  height: auto;
  width: 100%;
}

button {
  border: none;
}

.terminos {
  margin: 5rem 0;
}