//Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

$fuente_principal: 'Open Sans', sans-serif;
;

//Tamaño de media queries
$telefono_pequeno: 480px;
$telefono_mediano: 600px;
$telefono_grande: 765px;
$tablet_pequena: 1024px;
$tablet_grande: 1280px;
$desktop_mediana: 1366px;
$desktop_grande: 1920px;

//colores
$negro: #000000;
$blanco: #ffffff;
$blanco_gris: #e6efff;

$color_primario: #b7d002;
